body,p,ul,li{
    margin:0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
.mainContainer{
    display: flex;
    max-width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.secondContainer{
    max-width: 60%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px grey
}
.intro{
    padding: 5%;
}
.intro h1{
    color: #35AEAE;
}
.intro h3{
    color: hsl(71, 73%, 54%);
}
.intro p{
    color: #C2C7CD;
    margin: 5px;
    padding: 0;
}
.detailsContainer{
    display: flex;
    width: 100%;
}
.detailsContainer .detailsColumn1{
    background-color: #2BB3B1;
    color: #D6FDFC;
    width: 100%;
}
.detailsContainer .detailsColumn1 p{
    margin-bottom: 7%;
}
.detailsContainer .detailsColumn1 .detailsColumn1Container{
    padding: 10%;
}
.detailsContainer .detailsColumn1 .price{
    font-size: 2rem;
    color: white;
    position: relative;
    top: 5px;
}
.detailsContainer .detailsColumn1 .perMonth{
    color:#63CCCF;
}
.detailsContainer .detailsColumn1 .buttonContainer{
    text-align: center;
}
.detailsContainer .detailsColumn1 .buttonContainer button{
    background-color: hsl(71, 73%, 54%);
    height: 50px;
    width: 90%;
    border: #40B590 1px solid;
    box-shadow: -5px 5px 40px grey;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    color: #FAFECF;
    padding: 10px;
    margin-top: 10%;
}
.detailsContainer .detailsColumn1 .buttonContainer button:hover{
    background-color: hsl(71, 67%, 41%);
    border: none;
    cursor:pointer;
}
.detailsContainer .detailsColumn2{
    background-color: #4ABEBD;   
    width: 100%;
}
.detailsContainer .detailsColumn2 p{
    color: #E0FCFD;
    margin-bottom: 7%;
}
.detailsContainer .detailsColumn2 li{
    margin: 1.5%;
    color: #99E5EB;
    list-style: none;
}
.detailsContainer .detailsColumn2 .detailsColumn2Container{
    padding: 10%;
}
